body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
	height: 100%;
}

.wrapper{
	background: #333;
	min-height: 100vh;
	min-width: 100vw;
	color: #eee;
}
.card{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: inline-block;
}
